.jumbotron {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0px;
}

.jumbotron-fluid {
    background: rgb(252,227,138);
    background: linear-gradient(0deg, rgba(252,227,138,1) 0%, rgba(63,193,201,1) 25%);
    // background: rgb(252,65,3);
    // background: linear-gradient(0deg, rgba(252,65,3,1) 30%, rgba(255,238,71,1) 100%);
    border-top: 2px solid white;
    // border-bottom: 0px solid white;
    color: white;
}

.upJumbo {
    padding-bottom: 40px;
}

.display-4 {
    font-family: 'Yellowtail', cursive;
    color: rgb(252,227,138);
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 40px;
    padding-top: 40px;
}

.container .lead {
    font-family: 'PT Sans', sans-serif;
    padding-bottom: 70px;
    font-style: italic;
    font-size: 1.5em;
    margin-bottom: 0;
}