.map{
    width: 100%; 
    height:330px;
    // margin-bottom: $m-size;
    // margin-top:$m-size;
}
.marker {

  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;

}
.marker-corona {
  background:red;
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity:50%;
}
.marker-botanical {
  //Icon by Freepik: https://www.flaticon.com/authors/freepik
  background-image: url(https://media.discordapp.net/attachments/686755046456557581/730269596451340308/grass.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.marker-campground {
  //Icon by Freepik: https://www.flaticon.com/authors/freepik
  background-image: url(https://media.discordapp.net/attachments/686755046456557581/730269589308440656/camping.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.marker-dive {
  //Icon by Freepik: https://www.flaticon.com/authors/freepik
  background-image: url(https://media.discordapp.net/attachments/686755046456557581/730269589371617390/scuba-diving.png);
  background-size: cover;
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.marker-food {
  //Icon by Wanicon: https://www.flaticon.com/authors/wanicon
  background-image: url(https://media.discordapp.net/attachments/713813067300864050/730235159416275044/food.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.marker-hospital {
  //Icon by Freepik: https://www.flaticon.com/authors/freepik
  background-image: url(https://cdn.discordapp.com/attachments/686755046456557581/730269577623371796/hospital.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.marker-hotel {
  //Icon by Freepik: https://www.flaticon.com/authors/freepik
  background-image: url(https://media.discordapp.net/attachments/686755046456557581/730269722347569232/hotel.png);
  background-size: cover;
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.marker-library {
  //Icon by Freepik: https://www.flaticon.com/authors/freepik
  background-image: url(https://media.discordapp.net/attachments/686755046456557581/730267171955146902/books.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.marker-monument {
  //Icon by Freepik: https://www.flaticon.com/authors/freepik
  background-image: url(https://media.discordapp.net/attachments/686755046456557581/730267084805636126/pyramid.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.marker-mountain {
  //Icon by Freepik: https://www.flaticon.com/authors/freepik
  background-image: url(https://media.discordapp.net/attachments/713813067300864050/730235161605832724/adventure.png);
  background-size: cover;
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.marker-museum {
  //Icon by Freepik: https://www.flaticon.com/authors/freepik
  background-image: url(https://media.discordapp.net/attachments/686755046456557581/730267104510738442/cultures.png);
  background-size: cover;
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.marker-tourist {
  //Icon by Linector: https://www.flaticon.com/authors/linector
  background-image: url(https://media.discordapp.net/attachments/686755046456557581/730267069089841213/tourist.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.marker-waterfront {
  //Icon by Freepik: https://www.flaticon.com/authors/freepik
  background-image: url(https://media.discordapp.net/attachments/686755046456557581/730267049951232040/water-drop.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
        

     
.mapboxgl-popup {
        max-width: 200px;
      }
      
.mapboxgl-popup-content {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
      }
      
