

.textArea{
    padding:$m-size 0;
    
}

#p{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
}

.logo{
    height: 30px;
    margin: 10px;
}

.bio{
    justify-content: center;
}

.name{
    margin: auto 0;
}